
dbdata/

docker-compose.yml

public/.htaccess

public/wp-config.php

public/wp-content/cache/

public/wp-content/uploads/
public/wp-content/updraft/

public/wp-content/w3tc-config/

public/wp-content/advanced-cache.php

public/wp-content/db.php

public/wp-content/object-cache.php

public/wp-content/plugins/custom-post-type-ui/

public/wp-content/languages/plugins/custom-post-type-ui-es_ES.mo

public/wp-content/languages/plugins/custom-post-type-ui-es_ES.po

public/wp-content/updraft/

/docker-compose.yml
*.env
mybb/
mariadb/
postgres/

/README.md
public/wp-config.php

public/wp-config-sample.php

public/wp-config-docker.php
