.title-secciones{
    color: var(--tertiary);
    font-family: 'Klavika';
    font-weight: 600;
    font-size: 2.4em;
    letter-spacing: -2px;
    margin-top: -12px;
}

.descripcion-secciones
{
    color: var(--tertiary);
    font-family: 'Klavika';
    font-weight: 400;
    font-size: 1.138em;
    line-height: 1.25;
}

.separator-btn-secciones-izq
{
    background: #ffff;
    height: 26px;
    width: 2px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    float: left;
    left: 6px;
}

.separator-btn-secciones-izq::before{
    content: " ";
}

.icono-btn-secciones-izq
{
    position: relative;
    float: left;
    left: 2px;
    top: 4px;
    color: #FFF;    
}

.separator-btn-secciones-der
{
    background: #ffff;
    height: 26px;
    width: 2px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    float: right;
    right: 6px;
}

.separator-btn-secciones-der::before{
    content: " ";
}

.icono-btn-secciones-der
{
    position: relative;
    float: right;
    right: 2px;
    top: 4px;
    color: #FFF;    
}

.boton_seccion a
{
    font-size: 1.4em;
    background-color: #FFFFFF;
    font-family: 'Klavika';
    border-color: var(--tertiary);
    color: var(--tertiary) !important;
    font-weight: 500;
    width: 100%;
}

.boton_seccion a:hover
{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: #FFFFFF !important;
}

.boton_pagination_secciones{
    font-size: 0.938em !important;
    background-color: var(--secondary) !important;
    border: var(--secondary) !important;
    font-family: 'Klavika' !important;
    color: var(--tertiary) !important;
    font-weight: 500 !important;
    width: 100%;
}

.boton_pagination_secciones:hover{
    background-color: var(--tertiary) !important;
    color: #FFFFFF !important;
}


.border-container-secciones{
    border: 7px solid #dbdce1;
    border-radius: 40px;
    margin: 0px 2% 20px;
}

.secciones-video video, .secciones-video iframe, .rll-youtube-player
{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 100%;
}

.secciones-imagenes
{
    margin-bottom: 10px;
    position: relative;
}

.secciones-imagenes-image
{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 2px solid var(--primary);
}

.secciones-imagenes-middle
{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.secciones-imagenes:hover .secciones-imagenes-image
{
    opacity: 0.5;
    background-color: var(--primary);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.secciones-imagenes:hover .secciones-imagenes-middle
{
  opacity: 1;
}

.secciones-imagenes-text
{
    background-color: var(--secondary);
    font-family: 'Klavika';
    color: var(--tertiary);
    font-weight: 500;
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 6px;
}

.title-secciones-icon
{
    margin-left: -30px;
    position: absolute;
    margin-top: -20px;
}

@media (max-width:767px)
{
    .title-secciones-icon
    {
        display: none;
    }
}

.secciones-video video
{
    border: 2px solid var(--tertiary);
    box-shadow: 4px 4px 6px 0px var(--tertiary);
}

.list-group-item
{
    font-size: 0.7em;
    padding: 10px;
}

button.list-group-item:hover
{
    background: var(--secondary);
    color: var(--tertiary);
}

.accordion-button-participantes
{
    height: 20px;
    color: var(--tertiary) !important;
    font-size: 0.8em;
    font-family: 'Klavika';
    font-weight: 400;
    border: 2px solid var(--secondary);
    border-radius: 10px !important;
    background: #FFF;
}

.accordion-button-participantes:not(.collapsed)
{
    background: var(--primary);
    color: #fff!important;
    border: 2px solid var(--tertiary);
}

.img-target{
    width: 200px;
    height: 200px;
    border: 1px gray solid;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.carousel-control-next-icon{
    background-color: var(--tertiary) !important;
    border-radius: 15%;
    background-position: 63%;
    background-size: 66% 56%;
    font-weight: bold;
    position: relative;
    right: -68%;
    width: 32px !important;
}

.carousel-control-prev-icon{
    background-color: var(--tertiary) !important;
    border-radius: 15%;
    background-position: 34%;
    background-size: 66% 56%;
    font-weight: bold;
    position: relative;
    left: -46%;
}

.carousel-control-next, .carousel-control-prev {
    width: auto;
}

.hrParticipantes {
    background-color: var(--tertiary);
    border: 1px solid;
}

.point{
    width: 7px;
    height: 7px;
    display: flex;
    background-color: #1da0cc;
    border-radius: 15px;
    position: relative;
    top: 30px;
    left: -15px;
}

.title-participantes{
    color: var(--tertiary);
    font-family: 'Klavika';
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: -2px;
    margin-top: -12px;
}

.descripcion-participantes
{
    color: var(--tertiary);
    font-family: 'Klavika';
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.25;
    height: 40px;
}

.exportCanvas
{
    display: none;
}

/*Timeline*/

.container-timeline {
    width: 100%;
    display: block;
    border: 1.4px solid #1da0cc;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    border-radius: 18px;
    box-shadow: 5px 4px #d3d0d0;
}


.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: step;
    display: block;
    height: 61px;
  }
  
  .timeline li {
    float: left;    
    text-align: center;
    width: 200px;
    position: relative;  
    opacity: 0.45;
  }
  
  .timeline li::before {
    content: '';
    counter-increment: step;
    line-height: 20px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 100%;
    border: 1px solid #CCC;
    margin: 0 auto 15px auto;
    background: #fff;
    cursor: pointer;
    position: relative;
    top: 96px;
  }
  
  .timeline .slick-list li::after
  {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--tertiary);
    display: block;
    position: absolute;
    top: 101.5px;
    left: 50%;
    z-index: -1;
  }    

  .timeline li::after
  {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--tertiary);
    display: block;
    position: absolute;
    top: 101.5px;
    left: 50%;
    z-index: -1;
  }

  .setLine li:first-child:after{
    background: var(--tertiary);  
  }

  
.titleIcon {
    left: 24px;
    position: absolute;
    top: -11px;
    margin-right: 50px;
}
  
.fecha-timeline{
    position: relative;
    left: 120px;
    top: -25px;
    color: var(--tertiary);
}

.fecha-text-timeline
{
    margin-left: 60px;
    color: var(--tertiary);
    text-transform: capitalize;
}

.descripcion-timeline{
    color: var(--tertiary);
    display: block;
    top: 35px;
    width: 60%;
    text-align: center;
    margin: auto;

    position: relative;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    min-height: 113px;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.timeline .slick-list .slick-current li::before
{
    background-color: var(--tertiary) !important;
}

.timeline .slick-list .slick-current li
{
    opacity: 1;
}


.carousel-control-next-icon {

    background-color: var(--tertiary) !important;
    border-radius: 50%;
    background-position: 63%;
    background-size: 66% 56%;
    font-weight: bold;
    position: relative;

}

.carousel-control-prev-icon {
    background-color: var(--tertiary) !important;
    border-radius: 50%;
    background-position: 34%;
    background-size: 66% 56%;
    font-weight: bold;
    position: relative;
}

.box-timeline{
    width: 100%;
    /* overflow-x: scroll; */
    height: 255px;
    overflow-y: hidden;
}

.timeline button.slick-next.slick-arrow
{
    background-color: var(--tertiary) !important;
    border-radius: 15%;
    background-position: 63%;
    background-size: 66% 56%;
    right: 0px;
    top: 100px;
    width: 32px;
    z-index: 10;
}

.timeline button.slick-prev.slick-arrow
{
    background-color: var(--tertiary) !important;
    border-radius: 15%;
    background-position: 34%;
    background-size: 66% 56%;
    left: 0px;
    top: 100px;
    width: 32px;
    z-index: 10;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 32px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #FFF;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -40px;
}
.slick-prev:before {
  content: "\f104";
}
.slick-next {
  right: -40px;
}
.slick-next:before {
  content: "\f105";
}

@media (min-width:320px)
{  
    .fecha-timeline
    {
        left: -30px;
    }

    .timeline li
    {
        opacity: 0;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
        width: 80%;

    }
}

@media (min-width:375px)
{  
    .fecha-timeline
    {
        left: -14%;
    }

    .timeline li
    {
        opacity: 0.45;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
        width: 80%;

    }
}

@media (min-width:400px)
{  
    .fecha-timeline
    {
        left: -4%;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
        width: 80%;

    }
}

@media (min-width:425px)
{  
    .fecha-timeline
    {
        left: 4%;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
        width: 80%;
    }
}

@media (min-width:480px)
{  
    .fecha-timeline
    {
        left: 12%;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
    }
}

@media (min-width:540px)
{  
    .fecha-timeline
    {
        left: 20%;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
    }
}

@media (min-width:600px)
{  
    .fecha-timeline
    {
        left: 25%;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
    }
}

@media (min-width:680px)
{  
    .fecha-timeline
    {
        left: 29%;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
    }

}

@media (min-width:768px)
{  
    .fecha-timeline
    {
        left: 32%;
    }

    .descripcion-timeline
    {
        top: 35px;
        text-align: center;
    }
}

@media (min-width:900px)
{  
    .fecha-timeline
    {
        left: 36%;
    }
}

@media (min-width:993px)
{  
    .fecha-timeline
    {
        left: 37%;
    }
}

@media (min-width:1024px)
{  
    .fecha-timeline
    {
        left: 12%;
    }
}

@media (min-width:1200px)
{  
    .fecha-timeline
    {
        left: 19%;
    }
}

@media (min-width:1280px)
{  
    .fecha-timeline
    {
        left: 21%;
    }
}

@media (min-width:1440px)
{  
    .fecha-timeline
    {
        left: 10%;
    }
}

@media (min-width:1600px)
{  
    .fecha-timeline
    {
        left: 12%;
    }
}

@media (min-width:1800px)
{  
    .fecha-timeline
    {
        left: 10%;
    }
}

@media (min-width:1960px)
{  
    .fecha-timeline
    {
        left: 10%;
    }
}

@media (min-width:2560px)
{  
    .fecha-timeline
    {
        left: 10%;
    }
}

